# Database connection
DB_PORT=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
POSTGRES_SSL=
# JWT secret key
JWT_SECRET=
# IGDB
TWITCH_CLIENT=
TWITCH_CLIENT_SECRET=
TWITCH_AUTH_API=
IGDB_API=
# Frontend
FRONTEND_URL=
# Supabase
SUPABASE_PROJECT_URL=
SUPABASE_SERVICE_KEY=

